body {
    font-family: Roboto, sans-serif;
}
.orderbook {
    width: 500px;
    margin: 20px auto;
    font-size: 14px;
}

.orderbook-side {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    text-align: left;
}

.orderbook-side th {
    padding-bottom: 10px;
}

.orderbook-side td {
    font-size: 12px;
}

.spread {
    font-size: 12px;
    background-color: lightskyblue;
    padding: 10px;
}

.orderbook-side.sells {
    background-color: #ee0000;
    color: #fff;
}

.orderbook-side.buys {
    background-color: greenyellow;
}

.new-order-form {
    margin-top: 40px;
}

.new-order-form input {
    margin: 5px 0;
}

.new-order-form button {
    margin-top: 15px;
}
